header {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  max-height: 200px;
  background-color: burlywood;

  padding: 20px;

  font-family: sans-serif;
}

#logo {
  display: grid;
  width: 100%;
  max-height: 170px;
  min-height: 85px;
}
h1 {
  display: grid;
  justify-items: center;
  justify-self: center;
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-height: 170px;
  width: 85%;
  background-color: burlywood;

  border: 1px solid black;
  padding: 10px;

  font-family: sans-serif;
}

div {
  display: grid;
  color: green;
  align-items: center;
}

main {
  background-color: pink;
  margin-top: 0px;
  padding: 20px;
}

p,
ul {
  margin: 0px;
  padding: 20px;
  font-size: 20px;
  justify-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#intro {
  display: grid;
  justify-content: center;
  color: black;
}

li {
  margin: 0px;
  padding: 20px;
  font-size: 19px;
  justify-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
}

.paragraph-container {
  display: flex;
  gap: 20px; /* space between paragraphs */
  flex-wrap: wrap;
}
/* Optional: Make each paragraph take up equal space */
.paragraph {
  flex: 1;
  min-width: 300px;
  /* Text styles */
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  font-family: Arial, sans-serif;
  text-align: justify;
}

footer {
  background-color: plum;
  height: 200px;
}
/* Responsive: for large screens */
@media (min-width: 920px) {
  h1 {
    font-size: 75px;
    align-content: center;
  }
  p,
  li {
    font-size: 29px;
  }
}

/* Responsive: for small screens */
@media (max-width: 600px) {
  .paragraph-container {
    flex-direction: column;
  }
  h1 {
    font-size: 35px;
    padding: 10px;
  }
  #logo {
    display: grid;
    min-height: 100%;
  }
}

/* Responsive for phones */
@media (max-width: 530px) {
  h1 {
    font-size: 30px;
    align-content: center;
  }
  p,
  li {
    font-size: 16px;
    padding: 0px;
  }
  #logo {
    display: grid;
    min-height: 100%;
  }
  h1 {
    padding: 10px;
  }
  li {
    padding: 10px;
  }
}
